name: Build landingpage

on:
  workflow_dispatch:

jobs:
  build:
    name: Build landingpage
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        machine:
          - generic-x86-64
          - panther
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      if: github.event_name == 'release'
      uses: docker/login-action@v3.1.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set build arguments
      if: github.event_name != 'release'
      run: echo "BUILD_ARGS=--test" >> $GITHUB_ENV

    - name: Build landingpage
      uses: home-assistant/builder@2024.03.5
      with:
        args: |
          $BUILD_ARGS \
          --target /data \
          --no-latest \
          --cosign \
          --machine landingpage=${{ matrix.machine }}

